@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap");
/* .inter> {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  } ##
  
*/

/*  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
  
*/

#section_1 h1 {
  font-size: 5rem;
  font-family: "Archivo", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 80px;
}

h1 {
  font-size: 4rem;
  font-family: "Archivo", sans-serif;
}

h2 {
  font-size: 3.188rem;
  font-family: "Archivo", sans-serif;
}

h3 {
  font-size: 2.5rem;
  font-family: "Archivo", sans-serif;
}

h4 {
  font-size: 2rem;
  font-family: "Archivo", sans-serif;
}

h5 {
  font-size: 1.563rem;
  font-family: "Archivo", sans-serif;
}

h6 {
  font-size: 1.25rem;
  font-family: "Archivo", sans-serif;
}

p {
  font-size: 1rem;
  font-family: "Inter", sans-serif;
}

/* NAVBAR */

#desktop-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav,
.nav-links {
  display: flex;
  grid-auto-flow: column;
  font-size: 1.563rem;
  font-family: "Archivo", sans-serif;
}

.nav-links {
  list-style: none;
  gap: 2rem;
}

a {
  color: inherit;
  text-decoration: none;
}

.nav-logo img {
  width: 4rem;
  height: auto;
  background-color: black;
}
/*HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: #131313;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: #131313;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  list-style: none;
}

.menu-links.open {
  max-height: 500px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}
